<span *ngIf="login; else elseBlock" style="color: green">
  login is: {{ login }} for {{ regData }}<br
/></span>

<ng-template #elseBlock>
  <form
    #userlogin="ngForm"
    (ngSubmit)="
      validator(
        userlogin.value.firstname,
        userlogin.value.lastname,
        userlogin.value.qualification,
        userlogin.value.skill,
        userlogin.value.gender
      )
    "
    class="container"
  >
    <h3>Template Driven form in Angular</h3>
    <span style="color: red"> You must login to continue</span> <br />
    <br />
    <label for="Firstname"> firstname</label>
    <input
      type="text"
      name="firstname"
      placeholder="firstname"
      #fname
      ngModel
    />
    <br /><br />

    <label for=" Lastname">Lastname</label>
    <input
      type="text"
      name="lastname"
      placeholder="lastname"
      ngModel
    /><br /><br />

    Gender
    <br />
    <label for="male">male</label>
    <input type="radio" name="gender" value="male" id="male" ngModel />

    <label for="female">female</label>
    <input
      type="radio"
      name="gender"
      id="female"
      value="female"
      ngModel
    /><br />
    <br />

    <label for="Skils">Skills</label> <br />

    <div *ngFor="let option of options">
      <input
        type="checkbox"
        id="option"
        name="{{ option }}"
        value="{{ option }}"
        (change)="addSkill(option)"
      />
      <label for="skills"> {{ option }}</label
      ><br />
    </div>
    <br />
    <br />

    <label for="Qualification">Whats your qualification: </label>
    <select id="qualification" name="qualification" ngModel>
      <option value="BSC">BSC</option>
      <option value="OND">OND</option>
      <option value="HND">HND</option>
    </select>
    <br /><br />

    <button>Submit</button>
  </form>
</ng-template>
